<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187646121046-mp40a510lsanh3mno6qphl6ee1adq8mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187646121046-mp40a510lsanh3mno6qphl6ee1adq8mp</string>
	<key>API_KEY</key>
	<string>AIzaSyAkgs99d-qstTHBJWRsh1XsSqXO4tT_rfM</string>
	<key>GCM_SENDER_ID</key>
	<string>187646121046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobber.misterjobby</string>
	<key>PROJECT_ID</key>
	<string>misterjobby-jobber</string>
	<key>STORAGE_BUCKET</key>
	<string>misterjobby-jobber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187646121046:ios:962315e4494b11f47b17f7</string>
</dict>
</plist>